:root {
  --head-banner: #e8ebe6;
}
.container {
  width: 1400px;
  min-height: 500px;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.filter {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.content {
  width: 75%;
  border-left: 1px solid black;
  padding: 20px;
  min-height: 500px;
  height: fit-content;
}
.bookContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: fit-content;
  min-height: 500px;
}
.filterArea {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  margin-right: 50px;
  padding-bottom: 30px;
}
.filterArea:nth-child(3) {
  border: 0px;
}
.filterTitle {
  font-size: 20px;
  line-height: 26px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.criterionTitle,
.TitleOnClick {
  font-size: 14px;
  cursor: pointer;
  line-height: 26px;
  color: #008b8b;
  padding-left: 20px;
  letter-spacing: 1px;
}
.criterionTitle:hover,
.TitleOnClick:hover {
  text-decoration: underline;
}
.TitleOnClick {
  background-color: #008b8b;
  color: white;
  border-radius: 15px;
  border-collapse: collapse;
}
.starContainer {
  display: flex;
  line-height: 26px;
}
.starItem {
  margin-right: 5px;
  cursor: pointer;
}
.pageContainer {
  list-style-type: none;
  float: right;
  display: flex;
}

.pageItem {
  display: inline;
  margin-left: 10px;
  border-radius: 10px;
  min-width: 30px;
  min-height: 30px;
  vertical-align: middle;
  text-align: center;
  padding: 2;
}
.pageItem > a:hover,
.pageItem:hover {
  color: #008b8b;
}
.pageItem a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 500;
}
.currentPage {
  background-color: #008b8b;
  color: white;
}
.currentPage:hover {
  color: white;
}
.pageNull {
  display: none;
}

.bookHeader,
.headBanner {
  width: 100%;
}
.bookHeader {
  height: 100px;
  z-index: 0;
}
.headBanner {
  line-height: 30px;
  background-color: var(--head-banner);
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}

.categoryTitle {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-family: Poynter, Georgia, serif;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 36px;
}

.categoryTitle > span {
  background: #fff;
  padding: 0 10px;
}
.banner {
  width: 100%;
}
.bannerContainer {
  display: flex;
  justify-items: center;
  margin-bottom: 15px;
}
.imgBanner {
  object-fit: cover;
}
.dropDown {
  float: right;
  line-height: 30px;
  width: 200px;
  background-color: var(--book-sort);
  border: 1px solid grey;
  vertical-align: middle;
  cursor: pointer;
  font-size: 12px;
  color: grey;
  position: relative;
  padding: 0;
  margin-top: 20px;
  z-index: 50;
}
.dropIcon {
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}
.dropDown:hover {
  border: 1px solid black;
  border-bottom: 0;
}
.dropDownList {
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  border: 1px solid black;
  background-color: var(--book-sort);
  z-index: inherit;
  background-color: white;
}
.dropDown:hover .dropDownList {
  display: block;
}
.dropDownItem {
  color: #000;
  font-size: 14px;
  padding-left: 10px;
  justify-content: center;
  transition: border-left 0.1s linear;
  margin: 0;
}
.dropDownItem:hover {
  border-left: 2px solid black;
  background-color: rgb(222, 222, 222);
}
.dropDown:before {
  content: "Sort by:";
  margin: 5px;
}
.pageNull {
  display: none;
}
