#container input[type="checkbox"]:checked {
  position: relative;
  cursor: pointer;
  background-color: var(--primary-color);
}

#container {
  background-color: #efefef;
}

#content {
  width: 1270px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  min-height: 80vh;
  max-width: 100%;
}

#left {
  width: 880px;
}

#right {
  flex-grow: 1;
}

.trashIcon {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 10;
}

.checkout {
  position: sticky;
  top: 68px;
}

.box {
  background-color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.row {
  display: grid;
  grid-template-columns: 5% 45% 15% 15% 15% 5%;
}

.row > div:not(:nth-child(2)) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutBtn {
  width: 100%;
  font-size: 1.1rem;
}

.cartItem {
  position: relative;
}

.cartItem > div {
  position: relative;
}

.cartItem > .disable {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 0;
  left: 0;
}

.cartItem .productInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80px;
}

.cartItem .productInfo div:first-child {
  height: 100%;
  aspect-ratio: 1 / 1;
}

#container .cartItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px #f0f0f0 solid;
}

#container .cartItem .quantity > div:first-child {
  border: 1px solid #999;
  border-radius: 3px;
  width: fit-content;
}

#container .cartItem .quantity > .soldOut {
  color: red;
  position: absolute;
  bottom: 0;
  transform: translateY(30%);
  z-index: 10;
}

#container .cartItem .selectAmount {
  padding: 0 4px;
  cursor: pointer;
}

#container .cartItem input[type="number"] {
  border: none;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  width: 40px;
  padding: 4px;
  padding-top: 2px;
  text-align: center;
  outline: none;
}

#container .cartItem .name {
  text-decoration: none;
  color: black;
}

#container .cartItem .author,
#container .cartItem .category {
  font-size: 1rem;
}

#container .cartItem .btnGroup {
  float: right;
}

#container .cartItem .btnGroup button + button {
  margin-left: 12px;
}

#container .emptyImg {
  width: 42%;
}

/* tablet */

/* Mobile */
@media screen and (max-width: 479px) {
  #container .emptyImg {
    width: 90%;
  }

  .checkout {
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    transform: translateY(-100%);
    z-index: 91;
    border-top: 1px solid #e7e7e7;
    border-radius: 4px;
  }
}
